/*ss重置样式  */
body,div,i,a,p,span,b,input,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dd,dt,textarea,img{margin:0;padding:0;}
body{font-family: microsoft yahei;color:#333;}
i,b{font-style: normal;}
a{text-decoration:none;}
img{vertical-align:top;width: 100%;}
input,textarea,select,textarea,img,a{resize: none;outline: none;border: none;}
li{list-style: none}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
.clearfix:after{content: '';display: block;height:0;clear: both;font-size:0;*zoom:1}


.index{}
.index .mid{position: relative;}
.index .mid .bmk{width:80%;height:100%;position:absolute;left:50%;top:0;margin-left:-40%;}
.index .mid .inmid{position:absolute;left:0;top:15%;width:8%;}
.index .bot{position: relative;}
.index .bot .inbot{position:absolute;left: 50%;top:0%;width:40%;margin-left:-20%;}
